<div>
	<div class="container-fluid">
		<div class="row row-offcanvas row-offcanvas-left">

			<!-- include sidebar directive -->
			<!-- col-xs-6 col-sm-2 -->
			<side-bar></side-bar>
			
			<!-- main area -->
			<div class="col-xs-12 col-sm-10">
				<div class="row">
					<div class="col-sm-6">
						<h2>Source</h2>
						<input type="text" class="form-control">
					</div>
					<div class="col-sm-6">
						<h2>Destination</h2>
						<input type="text" class="form-control">
					</div>
					<div class="col-xs-12">
						<h2>Flight</h2>
						<br>
						Carrier
						<br>
						Departure from
						<br>
						Departure time
						<br>
						Arrival at
						<br>
						Arrival time
						<br>
						Hops at
						<br>
						Comments
					</div>
					<div class="col-xs-12">
						<h2>Train</h2>
						<br>
						Train name
						<br>
						Train no
						<br>
						Departure from
						<br>
						Departure time
						<br>
						Arrival at
						<br>
						Arrival time
						<br>
						Comments
					</div>
					<div class="col-xs-12">
						<h2>Bus</h2>
						<br>
						Bus operator name
						<br>
						Bus operator contact
						<br>
						Departure from
						<br>
						Departure time
						<br>
						Arrival at
						<br>
						Arrival time

						<br>
						Comments
					</div>
					<div class="col-xs-12">
						<h2>Taxi</h2>
						<br>
						Taxi operator name
						<br>
						Taxi operator contact
						<br>
						Departure from
						<br>
						Departure time
						<br>
						Arrival at
						<br>
						Arrival time
						<br>
						Comments
					</div>
				</div>
			</div>
			<!-- /.col-xs-12 main -->

		</div>
		<!--/.row-->
	</div>
	<!--/.container-->
</div>
<!--/.page-container-->