<div>
	<div class="container-fluid">
		<div class="row row-offcanvas row-offcanvas-left">

			<!-- include sidebar directive -->
			<!-- col-xs-6 col-sm-2 -->
			<side-bar></side-bar>

			<!-- main area -->
			<div class="col-xs-12 col-sm-10">
				<div class="row">
					<div class="col-sm-6">
						<h2>Starting Point</h2>
						<input type="text" class="form-control">
					</div>
					<!-- Use the following to utilize the other half of the section -->
					<!-- <div class="col-sm-6">Placeholder for maps and other information</div> -->
				</div>
				<br>

			</div>
			<!-- /.col-xs-12 main -->

		</div>
		<!--/.row-->
	</div>
	<!--/.container-->
</div>
<!--/.page-container-->