<div>
	<center>
		<h2>Search</h2>
	</center>
	<form name="searchItinerary" ng-submit="search(source,dest,destList)">
		<div>
			<input type="text" name="source" ng-model="source"></input>
		</div>
		<div>
			<input type="text" name="dest" ng-model="dest">
			</input>
		</div>
		<div>
			<select ng-model="destList">
				<option value="Shimla">Shimla</option>
				<option value="Kullu">Kullu</option>
				<option value="Manali">Manali</option>
			</select>
		</div>
		<div>
			<input type="submit" value="Search" />
		</div>
	</form>

</div>


